:root {
    --primary-color: #262CEB;
    --secondary-color: #26A9EB;
    --tertiary-color: #749DEB;
    --primary-text-color: #FFFFFF;
    --background-color: #FFFFFF;
    --secondary-background-color:rgb(240, 240, 240);
    --background-color-dark: #18181b;
    --font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
body {
    min-height: 100vh;
    background-color: var(--secondary-background-color);
}
.bold {
    font-weight: 700;
}
.centered-text {
    text-align: center;
}
.base-color {
    color: var(--primary-color);
}

/* Header */
header {
    background-color: #262CEB;
    width: 100%;
    padding: .5rem .5rem;
    position: sticky;
    top: 0;
}
.menu-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}
.menu-links  a {
    height: 100%;
    display: flex;
    text-decoration: none;
    color: var(--primary-text-color);
    border-radius: 5px;
    transition: background-color .5s, color .5s;
}
.menu-links a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}
span.material-symbols-outlined {
    font-size: 2rem;
}
.menu-links span {
    padding: 0.25rem 0.5rem;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    margin-top: 20px;
}
main p {
    line-height: 1.4rem;
}

/* About */
section.about {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.about .photo {
    width: 200px;
    aspect-ratio: 1/1;
    display: block;
    border-radius: 50%;
    border: 5px solid var(--background-color);
    outline: 5px solid var(--primary-color);
    margin: auto;
}
h1, h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.about #social {
    height: auto;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    line-height: 1rem;
}
.about #social i {
    color: var(--primary-color);
    transition: color .5s;
}
.about #social i:hover {
    color: var(--tertiary-color);
}

/* Details */
section.details article {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

section.details article h2 span {
    vertical-align: middle;
    margin-right: 10px;
}

section.details article p span{
    font-size: 1rem;
    font-weight: 700;
}

section.details article span {
    vertical-align: middle;
    margin-right: 5px;
}

.skill-item-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .25rem;
}
.skill-item:not(:last-child) {
    margin-bottom: 10px;
}

.skill-item-info span {
    font-size: 1rem;
}

.skill-item-bar {
    background-color: var(--secondary-background-color);
    height: 1rem;
    border-radius: 15px;
}
.skill-item-bar > div {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 15px;
}
.right-side {
    margin-left: auto;
}

/* div.skill-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}
.skill-item-value {
    color: var(--primary-color)
}
.skill-item-bar {
    background-color: var(--secondary-background-color);
    height: 10px;
    width: 100%;
    border-radius: 15px;
}

.skill-item-bar div{
    background-color: var(--primary-color);
    height: 10px;
    width: 90%;
    border-radius: 15px;
} */

.qualification-item {
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 6px 12px;
    border-left: 6px solid var(--secondary-color);
}
.qualification-item:hover {
    border-left: 12px solid var(--primary-color);
}
.qualification-item:not(:last-child) {
    margin-bottom: 10px;
}
.qualification-item h3 {
    font-size: 1.25rem;
    color: var(--secondary-color);
}
.qualification-item p {
    font-size: 0.9rem;
}

.projects-carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 5%;
}
.project-item {
    background-color: var(--secondary-background-color);
    min-width: 100%;
    padding: 10px;
    border-radius: 10px;
    scroll-snap-align: start;
    aspect-ratio: 5/3;
    
}
.project-item img {
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
}


/* Footer */
footer#rodape {
    background-color: var(--primary-color);
    width: 100%;
}

footer p {
    font-size: .75rem;
    color: var(--primary-text-color);
    text-align: center;
    padding: .5rem 0;
}
footer a {
    color: var(--primary-text-color);
    font-weight: 700;
    text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 430px) {
    .menu-links  a {
        font-size: .75rem;
        padding: 5px 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .projects-carousel {
        gap: 2%;
    }
    .project-item {
        min-width: 49%;
    }
}

/* zzzz devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 900px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1200px) {
    
}