:root {
    --primary-color: #262CEB;
    --secondary-color: #26A9EB;
    --tertiary-color: #749DEB;
    --primary-text-color: #262CEB;
    --secondary-text-color: #26A9EB;
    --tertiary-text-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color:rgb(240, 240, 240);
    --font-family: "Open Sans", sans-serif;
    --card-border-radius: 8px;
    --primary-icon-color: #262CEB;
    --secondary-icon-color: #749DEB;
    --header-color: #262CEB;
    --footer-color: #262CEB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
body {
    min-height: 100vh;
    background-color: var(--secondary-bg-color);
}
body.dark {
    --primary-color: rgb(107, 107, 107);
    --secondary-color: rgb(160, 160, 160);
    --tertiary-color: #FFFFFF;
    --title-text-color: #FFFFFF;
    --primary-text-color: #FFFFFF;
    --secondary-bg-color: #0F0F0F;
    --primary-bg-color: #38383D;
    --primary-icon-color: white;
    --secondary-icon-color: white;
    --header-color: #0F0F0F;
    --footer-color: black;
    color: #FFFFFF
}

.bold {
    font-weight: 700;
}
.centered-text {
    text-align: center;
}
.right-side {
    margin-left: auto;
}
.indented {
    text-indent: 2rem;
}

/* Header */
header {
    background-color: color-mix(in srgb, var(--header-color), transparent 10%);
    backdrop-filter: blur(10px);
    width: 100%;
    padding: .5rem .5rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}
.menu-links  a {
    color: white;
    height: 100%;
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
    padding: 0.25rem 0.5rem;
}
.menu-links a:hover {
    background-color: var(--secondary-icon-color);
    color: var(--header-color);
}

/* Main */
main {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    margin-top: 1.5rem;
}
main p {
    line-height: 1.4rem;
}

/* Details */
.card {
    background-color: var(--primary-bg-color);
    padding: 20px;
    border-radius: var(--card-border-radius);
    margin-bottom: 1.5rem;
}
.card h1 {
    font-size: 1.75rem;
    color: var(--primary-text-color);
    margin-bottom: .5rem;
}
.card h2 {
    font-size: 1.5rem;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.card h2 span.material-symbols-outlined {
    font-size: 2rem;
    margin-right: .5rem;
}
.card h3 {
    font-size: 1.25rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: .5rem;
}
.social i {
    font-size: 2rem;
    color: var(--primary-icon-color);
    transition: color .5s;
}
.social i:hover {
    color: var(--secondary-icon-color);
}

.photo {
    width: 200px;
    aspect-ratio: 1/1;
    display: block;
    border-radius: 50%;
    border: 5px solid var(--primary-bg-color);
    outline: 5px solid var(--primary-color);
    margin: 5px auto;
}

/* Scale Bar */
.scale-bar:not(:last-child) {
    margin-bottom: .5rem;
}
.scale-bar-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .25rem;
}
.scale-bar-name span {
    font-size: 1rem;
    margin-right: .25rem;
}
.scale-bar-progress {
    background-color: var(--secondary-bg-color);
    height: 1rem;
    border-radius: 15px;
}
.scale-bar-progress > div {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 15px;
}

/* Qualification */
.qualification-item {
    background-color: var(--secondary-bg-color);
    border-radius: var(--card-border-radius);
    padding: .5rem .75rem;
    border-left: .25rem solid var(--secondary-color);
    transition: border-left 0.5s;
}
.qualification-item:hover {
    border-left: .75rem solid var(--primary-color);
}
.qualification-item:not(:last-child) {
    margin-bottom: .5rem;
}
.qualification-item h3 {
    color: var(--secondary-color);
}

/* Projects */
.carousel {
    width: 100%;
    display: flex;
    gap: 5%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.carousel-item {
    background-color: var(--secondary-bg-color);
    min-width: 100%;
    padding: .5rem;
    border-radius: var(--card-border-radius);
    scroll-snap-align: start;
}
.carousel-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: var(--card-border-radius);
    object-fit: cover;
}
.carousel-item p, .carousel-item summary {
    font-size: .9rem;
}

/* Footer */
footer#footer {
    background-color: var(--footer-color);
}

footer p {
    font-size: .75rem;
    color: var(--tertiary-text-color);
    text-align: center;
    padding: .5rem 0;
}
footer a {
    color: var(--tertiary-text-color);
    font-weight: 700;
    text-decoration: none;
}

/* Medium devices */
@media only screen and (min-width: 650px) {
    main {
        display: grid;
        grid-template-columns: 30% 60%;
        grid-template-rows: 1fr;
        margin-top: 1.5rem;
        gap: 1.5rem;
    }
    #about {
        height: fit-content;
        position: sticky;
        top: 60px;
    }
    .carousel {
        gap: 2%;
    }
    .carousel-item {
        min-width: 49%;
    }
}